/*  
1. General
2. Header
3. Nav
4. Hero
5. About
6. Work
7. Contact 

*/

/* General */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
}

.section-title{
    margin: 0px 5%;
}

ul {
    list-style: none;
  }

/* Header */

#header{
    display: grid;
    background-color: #ffffff;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "nameTag"
    "portfolioTag"
    "navBar"
    ;
}

/* Nav */


#navBar{
    display: flex;
    grid-area: navBar;
    background-color: rgb(0, 0, 0);
    justify-content: space-evenly;
    align-items: right;
    padding: 2%;
}

.nav-item, 
.contact-link {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    padding: 1%;
    color: white;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 0.5rem;
    
}

/* Hero */

#hero-banner{
    display: flex;
    size: 80vh;
    justify-content: flex-start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/JJ-7-edit.jpg);
    height: 300px;
   
}

.hero-name, 
.hero-subtitle, 
.work-item-text, 
.contact-link {
    color: whitesmoke;
    background-color: rgba(8, 6, 6, 0.8);
    max-width:fit-content;
    text-decoration: none;
}


.hero-name {
    font-size: 5rem;
    font-size: 4em;
    padding: 1rem;
    align-self: flex-start;
}

.hero-subtitle{
    font-size: 3em;
    align-self: flex-end ;
} 





/* About */

.about-content {
    margin: 0px 5%;
}
/* Work */

#workGrid {
    display: grid;
    justify-content: center;
    margin: 0px 5%;
    min-height: 500px;
    height: 70vh;
    grid-row-gap: 4em;
    grid-column-gap: 4em;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "firstLink firstLink"
    "secondLink thirdLink"
    "forthLink fithLink"
    ;
}

.work-grid-area {
    border: .5em solid #7297A0;
    padding: 15px;
}
/* problem area */
.work-link {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0%);
    transition: background .5s ease;
    z-index: 2;
}

.work-item-text {
    color: whitesmoke;
    background-color: rgba(8, 6, 6, 0.8);
    max-width:fit-content;
}

#firstLink {
    grid-area: firstLink;
    background-image: url(../images/horiseon\ crop.png);
}

#secondLink {
    grid-area: secondLink;
    background-image: url(../images/horiseon\ crop.png);
}

#thirdLink {
    grid-area: thirdLink;
    background-image: url(../images/horiseon\ crop.png);
}

#forthLink {
    grid-area: forthLink;
    background-image: url(../images/horiseon\ crop.png);
}

#fithLink {
    grid-area: fithLink;
    background-image: url(../images/horiseon\ crop.png);
}

/* Contact */

#contact-items {
    display: grid;
    max-height:fit-content;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: black;
    
}

.contact-link {
    cursor: pointer;
    text-decoration: none;
    margin: 0px 5%;
    padding: 1%;
    color: white;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 0.5rem;
}

/* Media Queries */

@media only screen and (max-width: 769px) {
    #workGrid {
        grid-template-rows: 30% 1fr 1fr 1fr 1fr;
        grid-template-columns: 75%;
        grid-template-areas:
        "firstLink"
        "secondLink"
        "thirdLink"
        "forthLink" 
        "fithLink"
        ;
}
}